include CHANGELOG.rst
include getting_started.rst
include LICENSE
include MANIFEST.in
include README.rst
include readthedocs.yml
include setup.cfg
include setup.py

recursive-include doc Makefile make.bat *.rst *.py *.ipynb *.bib
recursive-include doc/_static *.png *.svg *.css