/*
Copyright 2018-2025 the orix developers

This file is part of orix.

orix is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

orix is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with orix. If not, see <http://www.gnu.org/licenses/>.
*/

/* The following are adapted from Matplotlib's CSS file. */
/* Hide "#" between thumbnail and caption showing upon hovering. */
.sphx-glr-thumbcontainer a.headerlink {
    visibility: hidden !important;
}

/* Hide notice linking to the bottom download section. */
div.sphx-glr-download-link-note {
    height: 0px;
    visibility: hidden;
}

html[data-theme="dark"] .sphx-glr-thumbcontainer {
    background-color: rgb(63, 63, 63);
}

/* Re-style the download button */
div.sphx-glr-download a {
    background-color: #E3F0F6;
    background-image: none;
    color: #11557c;
    border: 0;
}
div.sphx-glr-download a:hover {
    background-color: #BCD4DF;
}
/* The above are adapted from Matplotlib's CSS file. */

.sphinx-codeautolink-a:hover {
    text-decoration: underline;
    color: #2A5ADF;
}
